<main class="cursor-default select-none">
  <section>
    <div class="w-[95%] md:w-[85%] flex flex-col align-middle justify-center mx-auto py-10 rounded-xl my-10" >
      <h3 class="text-orangeHover md:text-4xl lg:text-6xl font-bold arimo w-4/5 mx-auto text-center">Soluciones tecnológicas eficientes</h3>
      <p class="text-lg md:text-xl lg:text-2xl text-eblack w-4/5 mx-auto text-center">En BITGENIOS brindamos soluciones tecnológicas a medida para optimizar procesos y ayudar a las empresas a alcanzar sus metas eficientemente.</p>
    </div>
    <article class="bg-eblack bg-opacity-45 flex flex-row w-[95%] md:w-[85%] mx-auto justify-between gray py-10 my-10">
      <div class="w-full md:w-[70%] flex flex-col align-middle justify-center rounded-xl my-10 py-12 md:py-0">
        <div>
          <h3 class="text-orangeHover md:text-2xl lg:text-4xl font-bold arimo w-4/5 mx-auto text-left">Acerca de nosotoros</h3>
          <p class="text-base md:text-lg text-bone w-4/5 mx-auto text-left">BMT es una empresa jóven, pero consolidada en el sector de desarrollo de software, especialista en soluciones de TI mediante el desarrollo de sistemas y aplicaciones web diseñadas específicamente a las necesidades de nuestros clientes.
            Nos enfocamos principalmente en mejorar el sistema de áreas administrativas, la gestión de procesos internos y a brindar herramientas a nivel software tanto para la pequeña como la mediana empresa de México.
            Con la ayuda de nuestra metodología y el uso de nuestro propio framework web de desarrollo, somos capaces de resolver y atacar cualquier reto que nuestros clientes presenten de una manera eficiente, compitiendo directamente con grandes empresas, disminuyendo tiempos y costos.</p>
        </div>
      </div>
      <div class=" w-[40%] hidden md:flex flex-row md:flex-col align-middle justify-center rounded-xl aspect-square my-auto py-0 md:py-0">
        <figure>
          <img class="bg-cover bg-center w-full transition-all duration-1000 filter grayscale grayFigure" src="assets/aboutUs.png" alt="">
        </figure>
      </div>
    </article>
    <article class="flex flex-col md:flex-row w-[95%] md:w-[85%] mx-auto justify-between py-10 my-10">
      <div class="md:hover:scale-[1.1] hover:border-orangeHover border-4 border-solid border-transparent transition-all duration-300 hover:shadow-2xl bg-blue-200 md:w-1/2 flex flex-col align-middle justify-center md:my-10 p-10 ">
        <div>
          <h3 class="text-orangeHover text-4xl  arimo-bold w-4/5 mx-auto text-left">Misión</h3>
          <p class="text-base text-eblack w-4/5 mx-auto text-left">Proveer de herramientas y soluciones integrales a empresas con necesidades específicas mediante el uso de tecnología web, de manera que logren eficientizar sus procesos y alcanzar sus metas.</p>
        </div>
      </div>
      <div class="md:hover:scale-[1.1] hover:border-orangeHover border-4 border-solid border-transparent transition-all duration-300 hover:shadow-2xl bgP bg-opacity-45 md:w-1/2 flex flex-col align-middle justify-cmd:enter my-10 p-10 ">
        <div class="">
          <h3 class="text-orangeHover text-4xl  arimo-bold w-4/5 mx-auto text-left">Visión</h3>
          <p class="text-base text-bone2 w-4/5 mx-auto text-left">Ser considerada empresa confiable y líder en territorio nacional dando siempre un trato de primera a cada uno de nuestros clientes, y para nuestros empleados, siendo uno de los mejores lugares para trabajar.          </p>
        </div>
      </div>
    </article>
    <article class="flex flex-col w-[95%] md:w-[85%] mx-auto justify-between my-10">
      <h4 class="text-orangeHover text-3xl lg:text-4xl font-bold arimo w-4/5 mx-auto text-center">Nuestros valores</h4>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4 my-10">
        <div (click)="switch(1)" class=" w-full mx-auto md:w-[95%] aspect-square switchs flex items-center justify-center bg-eblack border-4 border-solid border-transparent transition-all duration-300 hover:border-orangeHover hover:shadow-xl  md:hover:scale-[1.1]">
          <div class="h-fit flex flex-col p-2 justify-center" >
            <mat-icon class=" mx-auto text-bone my-2 transition-all duration-300 scale-[2]"  *ngIf="!valor1">star</mat-icon>
            <h5 class="align-middle font-bold text-center text-bone transition-all duration-300 text-2xl"
            [ngClass]="{ 'text-orangeHover': valor1}"
            >Calidad</h5>
            <p *ngIf="valor1" class="text-base text-center text-bone2">
              Solamente brindando servicios y productos de calidad podremos asegurar la satisfacción total de nuestros clientes.
            </p>
          </div>
        </div>

        <div (click)="switch(2)" class=" w-full mx-auto md:w-[95%] aspect-square switchs flex items-center justify-center bg-eblack border-4 border-solid border-transparent transition-all duration-300 hover:border-orangeHover hover:shadow-xl  md:hover:scale-[1.1]">
          <div class="h-fit flex flex-col p-2 justify-center" >
            <mat-icon class=" mx-auto text-bone my-2 transition-all duration-300 scale-[2]"  *ngIf="!valor2">check-box</mat-icon>
            <h5 class="align-middle font-bold text-center text-bone transition-all duration-300 text-2xl"
            [ngClass]="{ 'text-orangeHover': valor2}"
            >Compromiso</h5>
            <p *ngIf="valor2" class="text-base text-center text-bone2">
              Altamente comprometidos en los acuerdos de cada uno de nuesotros clientes y proveedores.            </p>
          </div>
        </div>

        <div (click)="switch(3)" class=" w-full mx-auto md:w-[95%] aspect-square switchs flex items-center justify-center bg-eblack border-4 border-solid border-transparent transition-all duration-300 hover:border-orangeHover hover:shadow-xl  md:hover:scale-[1.1]">
          <div class="h-fit flex flex-col p-2 justify-center" >
            <mat-icon class=" mx-auto text-bone my-2 transition-all duration-300 scale-[2]"  *ngIf="!valor3">people</mat-icon>
            <h5 class="align-middle font-bold text-center text-bone transition-all duration-300 text-2xl"
            [ngClass]="{ 'text-orangeHover': valor3}"
            >Colaboración</h5>
            <p *ngIf="valor3" class="text-base text-center text-bone2">
              Conocemos las fortalezas y áreas de oportunidad de cada uno de nosotros para así apoyarnos a complir nuestras metas.
            </p>
          </div>
        </div>

        <div (click)="switch(4)" class=" w-full mx-auto md:w-[95%] aspect-square switchs flex items-center justify-center bg-eblack border-4 border-solid border-transparent transition-all duration-300 hover:border-orangeHover hover:shadow-xl  md:hover:scale-[1.1]">
          <div class="h-fit flex flex-col p-2 justify-center" >
            <mat-icon class=" mx-auto text-bone my-2 transition-all duration-300 scale-[2]"  *ngIf="!valor4">tag_faces</mat-icon>
            <h5 class="align-middle font-bold text-center text-bone transition-all duration-300 text-2xl"
            [ngClass]="{ 'text-orangeHover': valor4}"
            >Respeto</h5>
            <p *ngIf="valor4" class="text-base text-center text-bone2">
              Mantenemos siempre un ambiente amigable y respetuoso, los cuales propician un espacio ideal para el trabajo.            </p>
          </div>
        </div>
      </div>

    </article>

  </section>
</main>
