<footer class="bgP mt-[6rem]" >
  <section class="flex justify-center flex-col w-[95%] mt-9 pt-9 mx-auto">
    <div class="flex flex-row w-fit text-center align-middle mx-auto" routerLink="/inicio">
      <img class="w-10 lg:flex self-center hover:cursor-pointer" src="assets/logo.png" alt="logo BITGENIOS">
      <h2 class="text-bone2 inline md:text-2xl my-auto">
        <b class="logoTextBold w-fit">BIT</b>GENIOS
      </h2>
    </div>
    <p class="text-base text-bone pt-2 w-[88%] text-center mx-auto">Especialistas en el desarrollo de aplicaciones y sistemas web hechos totalmente a la medida de tus necesidades.</p>
    <div class="text-base text-bone pt-2 w-[88%] flex flex-row mx-auto justify-center">
      <div class="hidden md:flex flex-row w-[50%] mr-10">
        <ul>
          <li>
            <p class="text-orange md:text-xl lg:text-2xl font-bold">Menu</p>
          </li>
          <div class="ml-2">
            <li class="text-base lg:text-lg text-bone mb-2" (click)="reload()">
              <a class="no-underline hover:underline hover:text-orange text-bone" href="">Inicio</a>
            </li>
            <li class="text-base lg:text-lg text-bone mb-2" (click)="reload()">
              <a class="no-underline hover:underline hover:text-orange text-bone" href="">Conócenos</a>
            </li>
            <li class="text-base lg:text-lg text-bone mb-2" (click)="reload()">
              <a class="no-underline hover:underline hover:text-orange text-bone" href="">Servicios</a>
            </li>
            <li class="text-base lg:text-lg text-bone mb-2" (click)="reload()">
              <a class="no-underline hover:underline hover:text-orange text-bone" href="">Metodologías</a>
            </li>
          </div>
        </ul>
        <ul class="ml-10">
          <li>
            <p class="text-orange md:text-xl lg:text-2xl font-bold">Redes sociales</p>
          </li>
          <div class="ml-2">
            <li class="text-base lg:text-lg text-bone mb-2">
              <a class="no-underline hover:underline hover:text-orange text-bone" href="">Facebook</a>
            </li>
            <li class="text-base lg:text-lg text-bone mb-2">
              <a class="no-underline hover:underline hover:text-orange text-bone" href="">LinkedIn</a>
            </li>
          </div>
        </ul>
      </div>
      <form action="" class="flex flex-col w-full md:w-[50%] justify-center">
        <div>
          <label for="nombre" class="text-bone mb-2">Nombre</label>
          <input type="text" placeholder="Jose Luis" class="w-full bg-transparent text-bone2 border-2 border-solid border-orange rounded-lg p-2">
        </div>
        <div class="mt-3">
          <label for="email" class="text-bone mb-2">Email</label>
          <input type="email" placeholder="email@bitgenios.com" class="w-full bg-transparent text-bone2 border-2 border-solid border-orange rounded-lg p-2">
        </div>
        <div class="mt-3">
          <label for="nombre" class="text-bone mb-2">Mensaje</label>
          <input type="text" placeholder="¿Cómo podemos ayudarte?" class="w-full bg-transparent text-bone2 border-2 border-solid border-orange rounded-lg p-2">
        </div>
        <button class="bg-orangeHover  text-center text-bone px-4 py-2 mt-4 rounded w-full flex align-middle justify-center mx-auto"  type="submit">
          Enviar mensaje
        </button>
      </form>
    </div>
    <div class="mb-0 py-5 mx-auto">
      <h6 class="text-bone text-center w-full mx-auto my-0">Business Management Task Group S.A. de C.V © 2024 | Todos Los Derechos
        Reservados</h6>
    </div>
  </section>
</footer>
