<main class="bg-white ">
  <section class=" flex flex-col md:flex-row w-[95%] md:max-w-[75%] justify-center mx-auto pt-[9rem]">
    <div class="flex flex-col md:flex-row counter">
      <div class="my-auto w-full md:w-1/2" >
        <div class="">
          <h4 class="text arimo text-xl text-orangeHover font-bold">¡BIENVENIDO, CONOCE BITGENIOS!</h4>
        </div>
        <div class="pr-4">
          <p class=" text-xl sm:text-2xl md:text-4xl text-eblack">Somos una empresa dedicada a proveer soluciones de TI mediante el desarrollo de sistemas y aplicaciones web</p>
        </div>
      </div>
      <div class="flex flex-col w-full justify-end md:w-[60%] counter">
        <div class="mb-10 border-b-2 flex flex-row border-orangeHover h-fit w-full">
          <div class="">
            <h5 class="text-5xl md:text-7xl contador1h"></h5>
          </div>
          <p class=" mt-auto ml-4">Años de experiencia</p>
        </div>
        <div class="mb-10 border-b-2 flex flex-row border-orangeHover h-fit w-full ">
          <div class="contador2Div">
            <h5 class="text-5xl md:text-7xl contador2h">+</h5>
          </div>
          <p class=" mt-auto ml-4">Proyectos culminados</p>
        </div>
        <div class="mb-10 border-b-2 flex flex-row border-orangeHover h-fit w-full ">
          <div class="">
            <h5 class="text-5xl md:text-7xl contador3h">%</h5>
          </div>
          <p class=" mt-auto ml-4">De clientes satisfechos</p>
        </div>
      </div>
    </div>
  </section>
  <div class="relative overflow-hidden w-full mt-32" >
    <h4 class="text arimo text-xl md:text-3xl text-eblack font-bold w-[95%] mx-auto" >Conoce las empresas que han confiado en nosotros</h4>
    <div id="carousel" class="flex w-[300%] overflow-hidden animate-scroll2 md:animate-scroll py-5">
      <!-- Contenedor cuadrado para cada imagen -->
       <div class=" mx-auto bg-orange py-5 flex flex-row">
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/agroalimLogo.png" alt="Logo de Agroalim" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/antad.png" alt="Logo de ANTAD" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/divinataLogo.png" alt="Logo de Divinata" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/gant.jpg" alt="Logo de GANT" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/guadalupe.png" alt="Logo de Guadalupe" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/inovamedikLogo.png" alt="Logo de Inovamedik" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/moldeatLogo.png" alt="Logo de Moldeat" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/oxxoLogo.png" alt="Logo de OXXO" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/pabellonM.png" alt="Logo de Pabellón M" class="bg-center rounded-xl shadowxshadow-xl w-full aspect-square h-full">
         </div>
         <!-- Duplicado para efecto de carrusel continuo -->
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/agroalimLogo.png" alt="Logo de Agroalim" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/antad.png" alt="Logo de ANTAD" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/divinataLogo.png" alt="Logo de Divinata" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/gant.jpg" alt="Logo de GANT" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/guadalupe.png" alt="Logo de Guadalupe" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/inovamedikLogo.png" alt="Logo de Inovamedik" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/moldeatLogo.png" alt="Logo de Moldeat" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/oxxoLogo.png" alt="Logo de OXXO" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/pabellonM.png" alt="Logo de Pabellón M" class="bg-center rounded-xl shadowxshadow-xl w-full aspect-square h-full">
         </div>
       </div>
    </div>
  </div>
  <section class=" flex flex-col max-w-[95%] rounded-2xl pt-5 md:px-5 justify-center mx-auto mt-9 bg-eblack slideInDiv2">
    <div class="slideInSub2 flex flex-col">
      <div class="flex flex-row items-center">
        <div class="md:w-full text-center mx-auto">
          <h4 class="arimo text-xl md:text-3xl text-bone font-bold mb-0">
            En <b class="text-orangeHover">BITGENIOS</b> aprovechamos mejor la tecnología.
          </h4>
          <p class="text-base md:text-xl text-bone arimo mb-0">
            Contamos con ventajas competitivas para una mejor administración de tu negocio que no puedes dejar pasar.
          </p>
        </div>
      </div>
      <button class="bg-orange hover:bg-orangeHover md:hover:animate-hoverBoton md:[&:not(:hover)]:animate-hoverBotonReverse text-center text-bone px-4 py-2 mt-4 rounded hidden md:flex align-middle justify-center mx-auto" routerLink="/servicios">
        Conoce nuestros servicios
      </button>
      <div class="hidden md:flex md:flex-row sm:justify-evenly slideInDiv3">
        <div class="flex flex-col w-[80%] mx-auto my-5 md:my-0 hover:scale-[1.1] hover:bg-opacity-40 hover:bg-blue-800 rotateHover md:w-[30%] bg-blue-950 rounded-2xl bg-opacity-25 shadow-xl p-3 slideInSub3">
          <img src="assets/Torus_Concentric_Laying_2_0002.png" alt="Primer paso">
          <h5 class="arimo md:text-lg lg:text-2xl text-orangeHover font-bold text-center">Enfocándonos en tu negocio</h5>
          <p class="md:text-base lg:text-lg text-bone text-center">Comenzamos adquiriendo un profundo entendimiento de tus objetivos empresariales.</p>
        </div>
        <div class="flex flex-col w-[80%] mx-auto my-5 md:my-0 hover:scale-[1.1] hover:bg-opacity-40 hover:bg-blue-800 rotateHover2 md:w-[30%] bg-blue-950 rounded-2xl bg-opacity-25 shadow-xl p-3 slideInSub4">
          <img src="assets/Torus_2x_Link0000.png" alt="Segundo paso paso">
          <h5 class="arimo md:text-lg lg:text-2xl text-orangeHover font-bold text-center">Desarrollando soluciones personalizadas</h5>
          <p class="md:text-base lg:text-lg text-bone text-center">Nuestro equipo de expertos desarrolla soluciones a la medida.</p>
        </div>
        <div class="flex flex-col w-[80%] mx-auto my-5 md:my-0 hover:scale-[1.1] hover:bg-opacity-40 hover:bg-blue-800 rotateHover3 md:w-[30%] bg-blue-950 rounded-2xl bg-opacity-25 shadow-xl p-3 slideInSub5">
          <img class="" src="assets/Torus_2x_Link0002.png" alt="Tercer paso">
          <h5 class="arimo md:text-lg lg:text-2xl text-orangeHover font-bold text-center">Escalabilidad e innovación</h5>
          <p class="md:text-base lg:text-lg text-bone text-center">Aprovechamos tecnología de punta para implementar sin problemas.</p>
        </div>
      </div>
      <div class="flex flex-col w-[95%] mx-auto md:hidden py-12">
        <div class="flex flex-col space-y-6 mx-auto my-8">
          <div class="flex items-center space-x-2 flex-col">
            <div class="circle flex items-center justify-center mx-0 bg-orangeHover text-white text-lg font-bold">1</div>
            <div class="flex flex-col">
              <h5 class="text-lg font-bold text-orange text-center">Enfocándonos en tu negocio</h5>
              <p class="text-center text-bone2 text-sm">Comenzamos adquiriendo un profundo entendimiento de tus objetivos empresariales.</p>
            </div>
          </div>
          <div class="flex items-center space-x-2 flex-col">
            <div class="circle flex items-center justify-center mx-0 bg-orangeHover text-white text-lg font-bold">2</div>
            <div class="flex flex-col">
              <h5 class="text-lg font-bold text-orange text-center">Desarrollando soluciones personalizadas</h5>
              <p class="text-center text-bone2 text-sm">Nuestro equipo de expertos desarrolla soluciones a la medida.</p>
            </div>
          </div>
          <div class="flex items-center space-x-2 flex-col">
            <div class="circle flex items-center justify-center mx-0 bg-orangeHover text-white text-lg font-bold">3</div>
            <div class="flex flex-col">
              <h5 class="text-lg font-bold text-orange text-center">Escalabilidad e innovación</h5>
              <p class="text-center text-bone2 text-sm">Aprovechamos tecnología de punta para implementar sin problemas.</p>
            </div>
          </div>
          <button class="bg-orangeHover  text-center text-bone px-4 py-2 mt-4 rounded w-full flex align-middle justify-center mx-auto" routerLink="/servicios">
            Conoce nuestros servicios
          </button>
        </div>

      </div>
    </div>
  </section>
</main>
