<main class="bg-white select-none cursor-default">
  <section class="bgP">
    <ng-container
        class="w-full relative h-96 sm:h-[60vh] md:h-[50vh] lg:h-[40vh] z-50 hidden sm:flex">
        <div
          class="hidden sm:flex flex-row items-center justify-center sm:space-x-4 sm:rounded-none rounded-xl relative py-[60px] ">
          <!-- Botón Izquierdo -->
          <button (click)="navigate('left')" class="px-4 py-2 focus:outline-none sm:z-0 z-1 hidden sm:block sm:static">
            <mat-icon class="sm:scale-[2] md:scale-[3] lg:scale-[3] material-icon text-bone">chevron_left</mat-icon>
          </button>
          <section class="sm:w-5/6 w-full text-center bg-transparent relative mx-auto">
            <!-- Contenido del texto -->
            <div class="flex flex-col justify-center relative z-10 sm:h-[30rem] mx-auto">
              <div class="px-10 w-full md:w-2/3 mx-auto">
                <h2 class="sm:text-4xl md:text-5xl pt-10 sm:pt-0 font-extrabold text-[#E3DBC9] text-center"
                  [ngClass]="{ textIn: isChanging }">
                  {{ slides[currentSlideIndex]?.title }}
                  <b class="parkinsans text-orange">{{ slides[currentSlideIndex]?.bold }}</b>
                  {{ slides[currentSlideIndex]?.title2 }}
                </h2>
                <p class="text-sm sm:text-base mt-4 text-center text-bone2" [ngClass]="{ textIn: isChanging }">
                  {{ slides[currentSlideIndex]?.subtitle }}
                </p>
              </div>

            </div>
          </section>
          <!-- Botón Derecho -->
          <button (click)="navigate('right')"
            class="px-4 py-2 focus:outline-none mb-[50%] sm:mb-0 sm:z-0 z-1 hidden sm:block sm:static text-bone">
            <mat-icon class="scale-[2] md:scale-[3] lg:scale-[3] material-icon">chevron_right</mat-icon>
          </button>
        </div>
    </ng-container>
    <ng-container  class="w-full relative z-50 flex p-20">
      <div class="sm:hidden flex flex-row items-center justify-center h-[60vh] ">
        <!-- Botón Izquierdo -->
        <button (click)="navigate('left')" class=" focus:outline-none z-1 w-fit static overflow-hidden">
          <mat-icon class="text-bone scale-[2] material-icon">chevron_left</mat-icon>
        </button>
        <section class=" w-full text-center bg-transparent relative mx-auto">
          <!-- Contenido del texto -->
          <div class="flex flex-col justify-center relative z-10 mx-auto">
            <div class="px-10 w-full mx-auto">
              <h2 class="text-2xl pt-10 font-extrabold text-[#E3DBC9] text-center" [ngClass]="{ textIn: isChanging }">
                {{ slides[currentSlideIndex]?.title }}
                <b class="parkinsans text-orange">{{ slides[currentSlideIndex]?.bold }}</b>
                {{ slides[currentSlideIndex]?.title2 }}
              </h2>
              <p class="text-sm sm:text-xl mt-4 text-center text-bone2" [ngClass]="{ textIn: isChanging }">
                {{ slides[currentSlideIndex]?.subtitle }}
              </p>
            </div>
          </div>
        </section>
        <!-- Botón Derecho -->
        <button (click)="navigate('right')" class=" focus:outline-none z-1 static overflow-hidden">
          <mat-icon class="text-bone scale-[2] material-icon">chevron_right</mat-icon>
        </button>
      </div>
    </ng-container>
  </section>
  <section class=" flex flex-col md:flex-row w-[95%] md:max-w-[75%] justify-center mx-auto pt-[9rem]">
    <div class="flex flex-col md:flex-row counter">
      <div class="my-auto w-full md:w-1/2" >
        <div class="">
          <h4 class="text arimo text-xl text-orangeHover font-bold">¡BIENVENIDO, CONOCE BITGENIOS!</h4>
        </div>
        <div class="pr-4">
          <p class=" text-xl sm:text-2xl md:text-4xl text-eblack">Somos una empresa dedicada a proveer soluciones de TI mediante el desarrollo de sistemas y aplicaciones web</p>
        </div>
      </div>
      <div class="flex flex-col w-full justify-end md:w-[60%] counter">
        <div class="mb-10 border-b-2 flex flex-row border-orangeHover h-fit w-full">
          <div class="">
            <h5 class="text-5xl md:text-7xl contador1h"></h5>
          </div>
          <p class=" mt-auto ml-4">Años de experiencia</p>
        </div>
        <div class="mb-10 border-b-2 flex flex-row border-orangeHover h-fit w-full ">
          <div class="contador2Div">
            <h5 class="text-5xl md:text-7xl contador2h">+</h5>
          </div>
          <p class=" mt-auto ml-4">Proyectos culminados</p>
        </div>
        <div class="mb-10 border-b-2 flex flex-row border-orangeHover h-fit w-full ">
          <div class="">
            <h5 class="text-5xl md:text-7xl contador3h">%</h5>
          </div>
          <p class=" mt-auto ml-4">De clientes satisfechos</p>
        </div>
      </div>
    </div>
  </section>
  <div class="relative overflow-hidden w-full mt-32" >
    <h4 class="text arimo text-xl md:text-3xl text-eblack font-bold w-[95%] mx-auto" >Conoce las empresas que han confiado en nosotros</h4>
    <div id="carousel" class="flex w-[300%] overflow-hidden animate-scroll2 md:animate-scroll py-5">
      <!-- Contenedor cuadrado para cada imagen -->
       <div class=" mx-auto bg-orange py-5 flex flex-row">
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/agroalimLogo.webp" alt="Logo de Agroalim" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/antad.webp" alt="Logo de ANTAD" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/divinataLogo.webp" alt="Logo de Divinata" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/gant.jpg" alt="Logo de GANT" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/guadalupe.webp" alt="Logo de Guadalupe" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/inovamedikLogo.webp" alt="Logo de Inovamedik" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/moldeatLogo.webp" alt="Logo de Moldeat" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/oxxoLogo.webp" alt="Logo de OXXO" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/pabellonM.webp" alt="Logo de Pabellón M" class="bg-center rounded-xl shadowxshadow-xl w-full aspect-square h-full">
         </div>
         <!-- Duplicado para efecto de carrusel continuo -->
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/agroalimLogo.webp" alt="Logo de Agroalim" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/antad.webp" alt="Logo de ANTAD" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/divinataLogo.webp" alt="Logo de Divinata" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/gant.jpg" alt="Logo de GANT" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/guadalupe.webp" alt="Logo de Guadalupe" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/inovamedikLogo.webp" alt="Logo de Inovamedik" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/moldeatLogo.webp" alt="Logo de Moldeat" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/oxxoLogo.webp" alt="Logo de OXXO" class="bg-center rounded-xl shadow-xl w-full aspect-square h-full">
         </div>
         <div class="flex justify-center items-center mx-2 h-32 md:h-64 aspect-square border-4 rounded-xl border-solid border-orangeHover">
           <img src="assets/pabellonM.webp" alt="Logo de Pabellón M" class="bg-center rounded-xl shadowxshadow-xl w-full aspect-square h-full">
         </div>
       </div>
    </div>
  </div>
  <section class=" flex flex-col max-w-[95%] rounded-2xl pt-5 md:px-5 justify-center mx-auto mt-9 bg-eblack slideInDiv2">
    <div class="slideInSub2 flex flex-col">
      <div class="flex flex-row items-center">
        <div class="md:w-full text-center mx-auto">
          <h4 class="arimo text-xl md:text-3xl text-bone font-bold mb-0">
            En <b class="text-orangeHover">BITGENIOS</b> aprovechamos mejor la tecnología.
          </h4>
          <p class="text-base md:text-xl text-bone arimo mb-0">
            Contamos con ventajas competitivas para una mejor administración de tu negocio que no puedes dejar pasar.
          </p>
        </div>
      </div>
      <button class="bg-orange hover:bg-orangeHover md:hover:animate-hoverBoton md:[&:not(:hover)]:animate-hoverBotonReverse text-center text-bone px-4 py-2 mt-4 rounded hidden md:flex align-middle justify-center mx-auto" routerLink="/servicios">
        Conoce nuestros servicios
      </button>
      <div class="hidden md:flex md:flex-row sm:justify-evenly slideInDiv3">
        <div class="hover:cursor-pointer flex flex-col w-[80%] mx-auto my-5 md:my-0 transition-all duration-300 hover:scale-[1.1] hover:bg-opacity-40 hover:bg-blue-800 rotateHover md:w-[30%] bg-blue-950 rounded-2xl bg-opacity-25 shadow-xl p-3 slideInSub3">
          <img src="assets/Torus_Concentric_Laying_2_0002.webp" alt="Primer paso">
          <h5 class="arimo md:text-lg lg:text-2xl text-orangeHover font-bold text-center">Enfocándonos en tu negocio</h5>
          <p class="md:text-base lg:text-lg text-bone text-center">Comenzamos adquiriendo un profundo entendimiento de tus objetivos empresariales.</p>
        </div>
        <div class="hover:cursor-pointer flex flex-col w-[80%] mx-auto my-5 md:my-0 transition-all duration-300 hover:scale-[1.1] hover:bg-opacity-40 hover:bg-blue-800 rotateHover2 md:w-[30%] bg-blue-950 rounded-2xl bg-opacity-25 shadow-xl p-3 slideInSub4">
          <img src="assets/Torus_2x_Link0000.webp" alt="Segundo paso paso">
          <h5 class="arimo md:text-lg lg:text-2xl text-orangeHover font-bold text-center">Desarrollando soluciones personalizadas</h5>
          <p class="md:text-base lg:text-lg text-bone text-center">Nuestro equipo de expertos desarrolla soluciones a la medida.</p>
        </div>
        <div class="hover:cursor-pointer flex flex-col w-[80%] mx-auto my-5 md:my-0 transition-all duration-300 hover:scale-[1.1] hover:bg-opacity-40 hover:bg-blue-800 rotateHover3 md:w-[30%] bg-blue-950 rounded-2xl bg-opacity-25 shadow-xl p-3 slideInSub5">
          <img class="" src="assets/Torus_2x_Link0002.webp" alt="Tercer paso">
          <h5 class="arimo md:text-lg lg:text-2xl text-orangeHover font-bold text-center">Escalabilidad e innovación</h5>
          <p class="md:text-base lg:text-lg text-bone text-center">Aprovechamos tecnología de punta para implementar sin problemas.</p>
        </div>
      </div>
      <div class="flex flex-col w-[95%] mx-auto md:hidden py-6">
        <div class="flex flex-col mx-auto mb-8">
          <div class="flex items-center space-x-2 flex-col">
            <div class="circle flex items-center justify-center mx-0 bg-orangeHover text-white text-lg font-bold">1</div>
            <div class="flex flex-col">
              <h5 class="text-lg font-bold text-orange text-center">Enfocándonos en tu negocio</h5>
              <p class="text-center text-bone2 text-sm">Comenzamos adquiriendo un profundo entendimiento de tus objetivos empresariales.</p>
            </div>
          </div>
          <div class="flex items-center space-x-2 flex-col">
            <div class="circle flex items-center justify-center mx-0 bg-orangeHover text-white text-lg font-bold">2</div>
            <div class="flex flex-col">
              <h5 class="text-lg font-bold text-orange text-center">Desarrollando soluciones personalizadas</h5>
              <p class="text-center text-bone2 text-sm">Nuestro equipo de expertos desarrolla soluciones a la medida.</p>
            </div>
          </div>
          <div class="flex items-center space-x-2 flex-col">
            <div class="circle flex items-center justify-center mx-0 bg-orangeHover text-white text-lg font-bold">3</div>
            <div class="flex flex-col">
              <h5 class="text-lg font-bold text-orange text-center">Escalabilidad e innovación</h5>
              <p class="text-center text-bone2 text-sm">Aprovechamos tecnología de punta para implementar sin problemas.</p>
            </div>
          </div>
          <button class="bg-orangeHover  text-center text-bone px-4 py-2 mt-4 rounded-2xl w-full flex align-middle justify-center mx-auto" routerLink="/servicios">
            Conoce nuestros servicios
          </button>
        </div>

      </div>
    </div>
  </section>
</main>
