<main class="flex items-center justify-center flex-col md:flex-row mt-20 my-10 select-none">
  <form class="flex flex-col w-[95%] md:w-[50%] justify-center md:h-[30rem] bg-eblack p-10 border-4 border-solid border-transparent hover:border-orangeHover transition-all duration-200">
    <h3 class="text-orangeHover text-lg md:text-2xl font-bold arimo text-left">¿Preguntas? Permítenos responderte!</h3>
    <div>
      <label for="name" class="text-bone2 mb-2 text-base">Nombre</label>
      <input
        id="name"
        [(ngModel)]="form.name"
        name="name"
        type="text"
        placeholder="BITGENIOS"
        class="w-full bg-transparent text-bone border-2 border-solid border-orange p-2 "
      />
    </div>
    <div class="mt-3">
      <label for="email" class="text-bone2 mb-2 text-base">Email</label>
      <input
        id="email"
        [(ngModel)]="form.email"
        name="email"
        type="email"
        placeholder="email@bitgenios.com"
        class="w-full bg-transparent text-bone border-2 border-solid border-orange p-2 "
      />
    </div>
    <div class="mt-3">
      <label for="message" class="text-bone2 mb-2 text-base">Mensaje</label>
      <textarea
        id="message"
        [(ngModel)]="form.message"
        name="message"
        placeholder="¿Cómo podemos ayudarte?"
        class="w-full bg-transparent text-bone border-2 border-solid border-orange p-2 "
      ></textarea>
    </div>
    <button
      (click)="submit()"
      class="bg-orangeHover text-center text-bone px-4 py-2 mt-4 rounded w-full flex items-center justify-center mx-auto hover:border-white transition-all duration-300 border-2 border-soid border-transparent"
    >
      {{message}}
    </button>
    <p class="text-red-500" *ngIf="error">Llena todos los campos.</p>
  </form>
  <aside class=" md:h-[30rem] w-[95%] md:w-1/4 border-2 border-orangeHover border-solid">
    <h3 class="text-bone font-bold bg-orangeHover p-4">Información de contacto</h3>
    <div class="flex flex-col p-10">
      <div class="flex flex-col">
        <div class="flex flex-row border-t-2 border-eblack border-solid pt-2">
          <mat-icon class="text-orangeHover">location_on</mat-icon>
          <p class="text-eblack font-bold">Ubicación</p>
        </div>
        <p class="hover:cursor-pointer" href="https://maps.app.goo.gl/opDGH9bUmCRdDskb8">Lázaro Cárdenas 2225 Valle Oriente San Pedro Garza García, 66260 Monterrey, N.L.</p>
      </div>
      <div class="flex flex-col">
        <div class="flex flex-row border-t-2 border-eblack border-solid pt-2">
          <mat-icon class="text-orangeHover">phone</mat-icon>
          <p class="text-eblack font-bold">Ubicación</p>
        </div>
        <p>(81) 47 70 1867</p>
      </div>
      <div class="flex flex-col">
        <div class="flex flex-row border-t-2 border-eblack border-solid pt-2">
          <mat-icon class="text-orangeHover">email</mat-icon>
          <p class="text-eblack font-bold">Ubicación</p>
        </div>
        <p>contacto&#64;bitgenios.com</p>
      </div>
    </div>
  </aside>
</main>
